.App {
  &__container {
    display: grid;
    grid-template-columns: 100%;
    @include responsive(md) {
      grid-template-columns: 35% 64%;
      justify-content: space-around;
      grid-column-gap: 1%;
    }
  }
}