.App {
  &__container {
    display: grid;
    grid-template-columns: 100%;
    @include responsive(md) {
      grid-template-columns: 35% 58%;
      justify-content: space-around;
      grid-column-gap: 5%;
      margin: 2%;
    }
  }
}