.DetailedVenue {
  display: grid;
  grid-template-columns: 100%;
  width: 90%;
  margin: 5%;
  box-sizing: border-box;
  box-shadow: rgba(black, 0.19) 0 0 8px 0;

  @include responsive(md) {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @include responsive(lg) {
    display: grid;
    flex-direction: row;
    grid-template-columns: 45% 50%;
    justify-content: space-around;
    grid-column-gap: 1%;
  }

  &__img {
    max-width: 100%;
    height: auto;
    @include responsive(md) {
      display: none;
    }
    @include responsive(lg) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      margin-top: 5%;
    }
  }

  &__info {
    padding: 1% 5%;
    &__name {
      display: block;
      font-weight: bold;
      font-size: 1.3rem;
      @include responsive(lg) {
        font-size: 2rem;
      }
    }
     > * {
      display: block;
      padding: 2% 2%;
    }
  }
}