.DetailedVenue {
  display: grid;
  grid-template-columns: 100%;
  width: 90%;
  margin: 5%;
  box-sizing: border-box;
  @include box-shadow(0, 0, 8px, rgba(black, 0.19));
  background: linear-gradient(90deg, #d3cfd3 10%, #c7ddd8 90%);
  border-radius: 2.5rem/2rem;

  @include responsive(md) {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @include responsive(lg) {
    display: grid;
    flex-direction: row;
    grid-template-columns: 45% 50%;
    justify-content: space-around;
    grid-column-gap: 1%;
  }

  &__img {
    max-width: 90%;
    height: auto;

    margin: 5%;
    @include responsive(md) {
      display: none;
    }
    @include responsive(lg) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
    }
  }

  &__info {
    padding: 1% 5%;
    &__name {
      @include keyframes('text') {
        0% { color: blue; }
        100% { color:black; }
      }
      display: block;
      font-weight: bold;
      font-size: 1.3rem;
      @include animation(text, 5s ,infinite);
      @include responsive(lg) {
        font-size: 2rem;
      }
    }
     > * {
      display: block;
      padding: 2% 2%;
    }
  }
}

